body {
		font-family: arial;
}


.button{
	width: 6rem;
	height: 1.5rem;
	background-color: #333;
	color: #fafafa;
	text-align: center;
	float: left;
	padding-top: .25rem;
	margin-left: .5rem;
	margin-bottom: .5rem;
	border-radius: 5%; /* make div circle */
}

.button:hover{
	background-color: #933;
}


#content {
	width: 90%;
	float: left;
}

#controls{
	width: 10%;
	float: left;
}

.unit {
	font-size: .8rem;
	width: 4.25rem;
	height: 4.25rem;
	margin: .125rem;
	background-color: #cccccc;

	text-align: center;
	/*line-height: 6rem;  vertical centre text in circle */
	border-radius: 50%; /* make div circle */
	float: left;

	/*centre the text*/
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */
}

.arrow {
	float: left;
	display: block;
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.up{
	-ms-transform: rotate(180deg); 
	-webkit-transform: rotate(180deg); 
	transform: rotate(180deg);

}

.down{
	-ms-transform: rotate(0deg); 
	-webkit-transform: rotate(0deg); 
	transform: rotate(0deg);
} 


.info {
	float: left;
	display: block;
	margin-top: .7rem;
}

.asia {
	background-color: #F6C4B9;
}

.africa {
	background-color: #F2E798;
}

.europe {
	background-color: #E3F6B9;
}

.namerica {
	background-color: #B9F6F3;
}

.samerica {
	background-color: #C1DBF7;
}

.oceania {
	background-color: #F9CEF9;
}

.camerica{
	background-color: #B9ECF6;
}

.australia {
	background-color: #F9CEE4;
}