* {
	 box-sizing: border-box;
}

body,html {
		font-family: arial;
		margin: 0;
		height: 100%;
}

/*page structure*/
.container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

.side {
	background-color: #eaeaea;
	width: 10%;
	-ms-flex: 0 100px;
	-webkit-box-flex:  0;
	-moz-box-flex:  0;
	-ms-box-flex:  0;
	box-flex:  0;  
	padding: 1rem;
}

.main {
	background-color: #fafafa;
	-ms-flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	padding: 1rem;
}
/*page structure*/


/*sidebar*/
.button{
	float: left;
	width: 100%;
	height: 2rem;
	background-color: #333;
	color: #fafafa;
	margin-bottom: .25rem;
	border-radius: 5%; /* make div circle */
	padding-left: 1rem;
	padding-top: .5rem;
}

.button:hover{
	background-color: #009AB2;
}

.arrow	{
	float: right;
	margin-top: -5px;
}
/*sidebar*/

/*main*/
.title {
	margin-bottom: 0;
}

.infowrap {
	width: 100%;
	float: left;
}
.infowrap h3{
	display: inline;
	float: left;
}


.unit {
	font-size: .8rem;
	width: 4.25rem;
	height: 4.25rem;
	margin: .125rem;
	background-color: #cccccc;

	text-align: center;
	/*line-height: 6rem;  vertical centre text in circle */
	border-radius: 50%; /* make div circle */
	float: left;

	/*centre the text*/
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */
}

/*.arrow {
	float: left;
	display: block;
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.up{
	-ms-transform: rotate(180deg); 
	-webkit-transform: rotate(180deg); 
	transform: rotate(180deg);

}

.down{
	-ms-transform: rotate(0deg); 
	-webkit-transform: rotate(0deg); 
	transform: rotate(0deg);
}*/ 




.asia {
	background-color: #F6C4B9;
}

.africa {
	background-color: #F2E798;
}

.europe {
	background-color: #E3F6B9;
}

.namerica {
	background-color: #B9F6F3;
}

.samerica {
	background-color: #C1DBF7;
}

.oceania {
	background-color: #F9CEF9;
}

.camerica{
	background-color: #B9ECF6;
}

.australia {
	background-color: #F9CEE4;
}
/*main*/